body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    font-size: 38px;
    overflow-y: hidden;
}

.topnav {
    list-style: none;
    text-align: right;
}

li {
    display: inline-block;
    padding-right: 7%;
    font-size:45px;
}

.Logo{
    float:left;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
} 

@keyframes anim_Title{
    from {opacity:0}
    to {opacity:1}
}

.Title {
    text-align: center;
    font-size: 62px;
    animation-name: anim_Title;
    animation-duration: 3s;
}

.mybutton {
    font-family: 'Roboto';
    font-size: 24px;
    color: #151D21;
    background: #ff7a7a;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}

.mybutton:hover {
    background: white;
    font-size: 26px;
    margin-top: 29px;
}

.Games {
    display: flex;
    justify-content: center;   /* centers all game items */
    align-items: center;       /* vertically align items */
    flex-wrap: wrap;           /* makes it responsive */
    gap: 50px;                 /* spacing between games */
    
    text-align: center;
    animation-name: anim_Title;
    animation-duration: 3s;
}

figure img:hover {
    filter: brightness(0.7);
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    color: white;
}


.Scoala{
    font-size:45px;
    font-weight:bold;
    font-style:italic;
}

.Tema{
    font-size:40px;
}

.Nume{
    font-size:35px;
    font-weight:bold;
}

.Clasa{
    font-size:30px;
}

.Profesor{
    font-size:35px;
}